/* CUSTOM STORY STYLE */
pre
    max-width $column-width
    margin 0 auto !important
.test 
    svg 
        background-image url(assets/images/pocket.JPG)
        background-size contain
        background-repeat no-repeat
        height 500px
        width 340px

.wrapper 
    display block