/* CUSTOM STORY STYLE */
pre
    max-width $column-width
    margin 0 auto !important
    display block
    margin 1.5rem auto
    max-width 38rem
    width 90%
    code
        set-type-size(small) !important


.wrapper 
    height 20px
    opacity 1
    transition 100ms ease-in-out
    &.is-highlighted 
        background-color lighten($code-bg, 20)
        .lineNumber 
            color $gray
    &.is-hidden 
        height 0px
        opacity 0
        transition 100ms ease-in-out
    .lineNumber 
        set-type-size('x-small')
        width 20px
        margin-right 0.5rem
        display inline-block
        color darken(#708090, 15)
    .token 
        display inline-block
[data-edge="start"]
    cursor pointer
    &[data-collapsed='true']
        &::after 
            content ' ...'
            color #cc6666

code 
    font-family $mono
    background $code-bg
    color $code-text
    padding 0.25rem 0.5rem
    border-radius 0.3em
    set-type-size('root')

.steps 
    display flex
    flex-direction row-reverse
    position relative
    width 60rem 
    margin 0 auto
    .steps-example 
        position sticky
        top 100px
        height 90vh
        display flex 
        flex-direction column 
        align-items center
        pre
            height 45vh
            overflow-x hidden
        .pocket
            svg 
                background-image none
                background-size contain
                background-repeat no-repeat
                height 350px
                width 400px
                border 1px solid $off-black
                transition background-image 300ms ease-in-out
                &.pocket-bg
                    background-image url(assets/images/pocket.JPG)
                    transition 300ms ease-in-out
                .path__pocket
                    stroke red
                    stroke-width 2px
                    fill none
    .scroll-text
        position relative
        padding 0 1rem
        max-width 20rem
        .step-prose 
            svg 
                width 20px
                height 20px
                display inline-block
                fill $off-black




