/* CUSTOM STORY STYLE */
pre
    max-width $column-width
    margin 0 auto !important
    display block
    margin 1.5rem auto
    max-width 38rem
    width 90%
    code
        set-type-size(small) !important
.test 
    svg 
        background-image url(assets/images/pocket.JPG)
        background-size contain
        background-repeat no-repeat
        height 500px
        width 340px

.wrapper 
    display block
    height 20px
    opacity 1
    transition 100ms ease-in-out
    &.is-hidden 
        height 0px
        opacity 0
        transition 100ms ease-in-out

