<section class='steps'>
    <div class='steps-example'>
        <figure class='pocket'>
            <svg class='pocket__svg'>
                <defs>
                    <marker id="pencil" viewBox="0 0 101 101" fill="red" xmlns="http://www.w3.org/2000/svg" refX="0"
                        refY="0" markerUnits="strokeWidth" markerWidth="50" markerHeight="50" orient="auto">
                        <path
                            d="M73.184 97.27l-9.004-9.005a2.346 2.346 0 010-3.32l21.68-21.68a2.346 2.346 0 013.321 0l9.005 9.004c3.652 3.652 3.652 9.59 0 13.262L86.446 97.27c-3.652 3.672-9.59 3.672-13.262 0zm8.263-41.74L30.154 4.237 6.424.098C3.22-.47.447 2.323.994 5.527l4.16 23.73L56.445 80.55a2.346 2.346 0 003.32 0l21.681-21.68a2.37 2.37 0 000-3.34zM34.55 24.258a2.723 2.723 0 013.867 0l30.08 30.079a2.723 2.723 0 010 3.867 2.723 2.723 0 01-3.868 0l-30.08-30.08a2.723 2.723 0 010-3.866zm-16.427-7.052v9.376h-7.09L8.826 13.985 14.9 7.91 27.5 10.117v7.09h-9.376z" />
                    </marker>
                </defs>

            </svg>
        </figure>
        <pre data-src='assets/prism/pocket.js'></pre>

    </div>
    <div class='scroll-text scroll-text-intro'>
        {{#each doc.pocket-steps}}
        <div class='step' data-step='{{{i}}}' id='step-{{{i}}}'>
            <div class='step-text-container'>
                <p class='step-prose'>{{{text}}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</section>